@page "/"
@attribute [StreamRendering]

@using SettlersOfIdlestanGame.Components
@using SettlersOfIdlestan.Model.IslandMap
@using SettlersOfIdlestan.Controller
@using SettlersOfIdlestan.Model.Civilization
@using System.Collections.Generic

<PageTitle>Île</PageTitle>

<h1>Carte de l'île</h1>

<div class="mb-2">
    <button class="btn btn-primary" @onclick="Generate">Générer / Régénérer</button>
</div>

@if (state is null)
{
    <p><em>Génération en cours...</em></p>
}
else
{
    <IslandMapView State="state" Controller="mainController" />
}

@code {
    private IslandState? state;
    private MainGameController? mainController;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(50);

        // Create main controller and a new game
        mainController = new MainGameController();

        var tileData = new List<(TerrainType, int)>
        {
            (TerrainType.Forest, 4),
            (TerrainType.Hill, 3),
            (TerrainType.Pasture, 4),
            (TerrainType.Field, 4),
            (TerrainType.Mountain, 3),
            (TerrainType.Desert, 1)
        };

        var mainState = mainController.CreateNewGame(tileData, 1);
        state = mainState!.GodState.PrestigeState.IslandState;

        StateHasChanged();
    }

    private void Generate()
    {
        if (mainController == null) mainController = new MainGameController();

        var tileData = new List<(TerrainType, int)>
        {
            (TerrainType.Forest, 4),
            (TerrainType.Hill, 3),
            (TerrainType.Pasture, 4),
            (TerrainType.Field, 4),
            (TerrainType.Mountain, 3),
            (TerrainType.Desert, 1)
        };

        var mainState = mainController.CreateNewGame(tileData, 1);
        state = mainState!.GodState.PrestigeState.IslandState;

        StateHasChanged();
    }
}
